attrs==20.3.0
click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.3
JsonForm==0.0.2
jsonschema==3.2.0
JsonSir==0.0.2
MarkupSafe==1.1.1
pyrsistent==0.17.3
Python-EasyConfig==0.1.7
PyYAML==5.4.1
Resource==0.2.1
six==1.15.0
Werkzeug==1.0.1
